KERNEL=="ttyACM*", ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}="esp32-auto-program@.service"
KERNEL=="ttyUSB*", ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}="esp32-auto-program@.service"
